
body {
    background: rgb(194, 190, 190);
}

#DataBase {
    width: 350px;
    height: 40px;
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    margin: auto;
}

#DataBase input {
    padding: 0 0 0 34px;
    width: 350px;
    height: 32px;
    border-radius: 8px;
    background-color: #b76cce;
    border: none;
    margin-top: 8px;
    outline: none;

}

.input {
    color: rgb(145, 142, 142);
}